<ul class="users-listing">
  {{#each user in controller}}
    <li>
      {{#link-to "user" user}}
        {{user.name}}
        <button {{action 'edit' this}}>Edit</button>
      {{/link-to}}
    </li>
  {{/each}}
<div>Users: {{usersCount}}</div>
{{outlet}}

</ul>
  <script type="text/x-handlebars" data-template-name="user/edit">
   {{input valueBinding="user.name"}}
  </script>
