<div class="user-profile">
  <img {{bind-attr src="avatarUrl"}} alt="User's avatar" />
  <h2>{{name}}</h2>
  <span>{{email}}</span>
  <p>{{bio}}</p>
  <span>Created {{creationDate}}</span>
{{outlet}}
{{!--   <script type="text/x-handlebars" data-template-name="user/edit">
   {{input valueBinding="model.name"}}
  </script>
 --}}
</div>